<!DOCTYPE html>
<html>
  <head>
        <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= current_time() %>
    <p>[<a href="/">Inicio</a>]</p>
    <%= yield %>
  </body>
</html>
